{% extends 'base.html.twig' %}

{% block header %}
<center>
  {% if idEntreprise == "IBM" %}
   {% set entreprise = " I.B.M." %}

   {% elseif idEntreprise == "UBISOFT" %}
 {% set entreprise = "Ubisoft" %}

    {% elseif idEntreprise == "SAFRAN" %}
    {% set entreprise = "Safran" %}

 {% else %}
    {% set entreprise = "tout le monde" %}

 {% endif %}
 <h1> Cette page affichera la liste des offres de {{entreprise}}  </h1>
</center>
{% endblock %}
