{% extends 'base.html.twig' %}

{% block header %}
<center>
 {% if idFormation == "DUTINFO" %}
  {% set formation = "le DUT Info" %}

  {% elseif idFormation == "LPMETIERDUNUMERIQUE" %}
{% set formation = "les LP métier du numérique" %}

   {% elseif idFormation == "DUTGIM" %}
   {% set formation = "le DUT GIM" %}

{% else %}
   {% set formation = "tout le monde" %}

{% endif %}
<h1>Cette page affichera la liste des formations de l'IUT proposé pour {{formation}}  </h1>
</center>
{% endblock %}

{% block contenu %}

{% endblock %}
